$max-width: 1400px;
$width: 1135px;
$height: 1165px;

// colors
// user
$text-primary: #333333;
$info-bg: #edf5ff;
$contact-icon-color: #b0c6d8;
$status-bg: #edffed;

// order
$new-order-button-bg: #404040;
$new-order-button-text: #fcfeff;
$tabs-container-bg: #f2f2f2;
$tabs-container-border-color: #4d4d4d;
$tab-selected-bg: #3a3a3a;
$tab-bg: #d2d2d2;
$tab-selected-text-color: #ffffff;
$tab-text-color: #3a3a3a;
$orders-header-bg: #7d869a;
$table-header-text-color: #444444;
$table-header-border-color: #d8d8d8;
$table-row-bg: #f2f4f7;
$table-row-border-color: #95989a;
$table-row-button-bg: #7d869a;
$order-placeholder-bg: #fafafa;
$order-placeholder-text: #cccccc;

// modal
$modal-bg: #00000070;
$modal-text-color: #eeeeee;
