@use "../../theme/theme";

.modal-container {
  z-index: 1000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: theme.$modal-bg;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
}

.modal-content-container {
  width: theme.$width;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-close-container {
  margin: 30px 30px;
  cursor: pointer;
  align-self: flex-end;
  color: theme.$modal-text-color;
  font-size: 35px;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
