@use "./theme/theme";

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: theme.$height;
  width: theme.$max-width;
  display: flex;
  justify-content: center;
}
